* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #0f0f14;
    color: #f5f5f5;
    font-family: "Playfair Display" , serif;
    line-height: 1.6;
    background: radial-gradient (circle at top, #1a1a22 0%, #0f0f14 60%);
}


.photo1 {
   width: 25rem ; 
   height: 15rem;
   border-radius: 15px;
   box-shadow: 0 0 15px;
   margin-bottom: 5%;
   margin-top: 5%;
}

.photo2 {
   width: 25rem ; 
   height: 15rem; 
   border-radius: 15px;
   box-shadow: 0 0 15px;
   margin-bottom: 5%;
}

.photo3 {
   width: 25rem ; 
   height: 15rem;
   border-radius: 15px;
   box-shadow: 0 0 15px;
   margin-bottom: 5%;
}   

.photo4 {
   width: 25rem ; 
   height: 15rem;
   border-radius: 15px;
   box-shadow: 0 0 15px;
   margin-bottom: 10px;
   margin-bottom: 5%;
}

.photo5 {
   width: 25rem ; 
   height: 15rem;
   border-radius: 15px;
   box-shadow: 0 0 15px;
   margin-bottom: 5%;
}

h1 {
    font-family: cinzel , serif;
    font-size: 3rem;
    color: #c8a951;
    text-shadow: 0 0 10px;
    text-align: center;
}

h2 {
    font-family: cinzel , serif;
    font-size: 2rem;
    color: #c8a951;
    text-shadow: 0 0 10px;
    text-align: center;
    margin-bottom: 5px;
}

.mylove {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #e6d8a8;
}

div {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

footer {
    padding: 40px;
    text-align: center;
    color: #e6d8a8;
    font-style: italic;
}

@media (max-width: 600px) {
    body h1 {
        font-size: 2rem;
    }

    div {
        padding: 50px 15px;
    }

    .mylove p {
        font-size: 1rem;
    }

}











